@font-face {
    font-family: 'iranyekan';
    src: url('font/iranyekanwebregular(fanum)_0.ttf');
}
a{
    color: inherit;
}
body{
    font-family: iranyekan;
    direction: rtl;
    background-color:#f7f7f7;
}
.navbar{

    z-index: 900;
    width: 100%;
    background-color: #0097e5!important;
    direction: rtl !important;

}
.dropdown-menu{
    direction: rtl;
    background-color: #0097e5!important;
    border: none !important;
    border-bottom: 1px solid #333 !important;
    border-radius: 0px !important;
}
.dropdown-item{
    transition: all 1s;
    background: inherit !important;
    color:white!important;
    direction: rtl!important;
    font-size: 15pt;
}
.dropdown-item:hover{
    transition: all 1s !important;
    background: inherit !important;
    color: #333 !important;
}
.nav-link{
    color: #fff !important;
}
.banner{
    height: 600px;
    background-position: center;
    color: #fff;
    border-bottom: 5px solid #0097e5;
}
.serchbox{
    box-shadow: 0 8px 6px -6px black;
    width: 50%;
    border-radius: 0px 5px 5px 0px ;
}
.serchbox-btn{
    transition: all 1s ;
    width: 10%;
    background-color: #0097e5;
    color: #fff;
    border-radius: 5px 0px 0px 5px !important;
    padding: 3px    ;
}
.serchbox-btn:hover {
    transition: all 1s ;
    opacity: 0.6;
}
.hr{
    background-color: #0097e5;
    width: 100%;
    z-index: 999
;
}
.more{
    padding: 5px;
    background-color: #0097e5;
    border-radius: 5px;
    transition: all 1s;
    text-align: center;
    color: #fff;
}
.more:hover{

    transition: all 1s;
    background-color: #000;
    color:#fff;
}
.item{
    width: 100%;
    background: #fff;
    height: 200px;
    padding: 5px;
}
.item img{
    margin-bottom: 5px;
    height: 120px;
}
.banner2{
    height: 300px !important;
    background-position: center!important;
    color: #ffff;
    border-bottom: 5px solid #0097e5;
}
.post{
    background: #fff;
    padding: 5px;
    margin-bottom: 10px;
}
.post img{
    margin-bottom: 5px;
    height: 200px;
}
.khabarname{
    height: auto;
    color: #333;
    position: relative ;

}
.contact{
    list-style: none;
    display: block;
    z-index: 999;

}
.blog-text{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    font-size: 15pt;
}
.blog-text img{
    width: 100%;
}
.blog-text p{
    text-align: justify;
    line-height: 30px;
}
.whois{
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 5px;
    display: flow-root;
    margin-top: 10px;
    border-radius: 5px;
    border-bottom: 8px solid #0097e5;
    text-align: right;
}
.whois img {
    animation: effect 1s infinite;
    border: 3px solid #c6d5d8;
    border-radius: 70px;
    width: 130px !important;
    height: 130px !important;
    box-shadow: 0 2px 10px #cccccc;
    text-align: center;
}
.silebar{
    direction: rtl;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    display: flow-root;
    text-align: center;

}
.silebar img{
    border-radius: 5px;
    box-shadow: 0 2px 10px #cccccc;
    width: 100%;
    height: auto!important;
}
.silebar a {
    color: inherit;
}
.comment{
    background-color: #fff;
    border:1px solid #c6d5d8;
    padding: 8px;
    border-radius: 5px;

    width: 100%;
    overflow:inherit;

    display: flow-root;

}
@keyframes cat{

    100%{
        transform: rotate(360deg);
    }
}
.cat-logo{
    animation: cat 3s infinite;
}
